body{
    margin: 0;
    background-color: #000;
}

.divTitle{
    width: 100%;
}

nav{
    background-color: #fff;    
}

h2{
    color: #000;
}

h1, h4{
    color: #fff;
}


p{
    margin: 5% 15%;
    color: #fff;
    text-align: left;
}

article{
    padding: 5% 25%;
    text-align: center;
}

.divform{
    background-color: #fff;
    padding: 4% 0;    
}

form{
    margin: 0% 4%;
    display: grid;
    text-align: left;
}

input{
    background-color: #000;
    color: #fff;
    justify-content: center;
}

footer{
    background-color: #fff;
    clear: both;
    padding: 2% 0;
    text-align: center;
}

main div{
    text-align: center;
    padding: 5% 0;
}

.divimgHistoria{
    width: 50%;
}