<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Undertale</title>
</head>

<body>
    <section>
        <header>
            <img class="divTitle" src="../img/undertale.png" alt="undertale">
        </header>

        <nav class="nav justify-content-center">
            <div class="nav-item">
                <a class="nav-link" href="../index.html">
                    <h2>Home</h2>
                </a>
            </div>
        </nav>

        <main>
            <div>
                <img class="divimgHistoria" src="../img/flowefell.jpg" alt="logo">
                <h1>FLOWERFELL</h1>
                <h4>
                    <p>
                        Tudo começa como sempre: A queda. Frisk cai no Underground, mas, diferente da "queda original"
                        ela contrai uma maldição, onde, toda vez que morrer e voltar pelo SAVE, uma flor dourada
                        aparecerá em seu corpo.

                        Então ela conhece Flowey, que implora por sua piedade e ela, sendo pacifista, aperta MERCY.
                        Flowey fica surpreso por ela não ter a intenção de machucá-lo e resolve ajudar Frisk em sua
                        jornada pelo Underground, tornando-se amigo da humana.

                        Morrendo algumas vezes antes de chegar em Snowdin, Frisk descobre sobre sua maldição e Flowey
                        tenta ajudá-la, mas todo o esforço fora em vão.

                        Passando pelas Ruínas, depois de se acostumar com as flores em seu corpo, Frisk conhece Sans. O
                        Skeleton, vendo que a humana era uma pessoa gentil e bondosa, logo se torna amigo dela e a ajuda
                        como puder. </p>
                </h4>
            </div>
        </main>

        <footer>
            <a href="https://store.steampowered.com/app/391540/Undertale/?l=portuguese"></a><img
                src="../img/iconSteam.jpg" alt="steam"></a>
        </footer>
    </section>
</body>

</html>