<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/favicon.jpg"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Undertale</title>
</head>

<body>
    <section>
        <header>
            <img class="container-fluid" src="../img/undertale.png" alt="undertale">
        </header>

        <nav class="container-fluid" style="background: #fff">
            <div class="container d-flex justify-content-center fw-bold">
                <div class="row">
                    <div class="col-auto">
                        <a class="nav-link justify-content-center text-dark" href="universosalternativos.html">
                            <span class="fa fa-arrow-circle-left"></span>
                            Universos Alternativos
                        </a>
                    </div>
                </div>
            </div>
        </nav>


        <main>
            <div class="container">
                <div class="p-4 text-center fw-bold fs-3 text-white">FLOWERFELL</div>
                <div class="py-5 px-3 text-white fs-3">
                    <p>
                        Tudo começa como sempre: A queda. Frisk cai no Underground, mas, diferente da "queda original"
                        ela contrai uma maldição, onde, toda vez que morrer e voltar pelo SAVE, uma flor dourada
                        aparecerá em seu corpo.

                        Então ela conhece Flowey, que implora por sua piedade e ela, sendo pacifista, aperta MERCY.
                        Flowey fica surpreso por ela não ter a intenção de machucá-lo e resolve ajudar Frisk em sua
                        jornada pelo Underground, tornando-se amigo da humana.

                        Morrendo algumas vezes antes de chegar em Snowdin, Frisk descobre sobre sua maldição e Flowey
                        tenta ajudá-la, mas todo o esforço fora em vão.

                        Passando pelas Ruínas, depois de se acostumar com as flores em seu corpo, Frisk conhece Sans. O
                        Skeleton, vendo que a humana era uma pessoa gentil e bondosa, logo se torna amigo dela e a ajuda
                        como puder. </p>
                </div>
            </div>
        </main>

        <footer class="text-center p-2" style="background: #fff">
            <a href="https://store.steampowered.com/app/391540/Undertale/?l=portuguese"><img class="rounded"
                    src="../img/iconSteam.jpg" alt="steam"></a>
        </footer>
    </section>
</body>

</html>