<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Undertale</title>
</head>

<body>
    <section>
        <header>
            <img class="container-fluid" src="../img/undertale.png" alt="undertale">
        </header>

        <nav class="container-fluid" style="background: #fff">
            <div class="container d-flex justify-content-center fw-bold">
                <div class="row">
                    <div class="col">
                        <a class="nav-link justify-content-center text-dark fs-4" href="personagen.html">
                            <span class="fa fa-arrow-circle-left"></span>
                            Historia</a>
                    </div>
                </div>
            </div>
        </nav>

        <main>

        </main>

        <footer class="text-center p-2" style="background: #fff">
            <a href="https://store.steampowered.com/app/391540/Undertale/?l=portuguese"><img class="rounded"
                    src="../img/iconSteam.jpg" alt="steam"></a>
        </footer>
    </section>
</body>

</html>


<script>
    var dat = sessionStorage.getItem('key')
    console.log(dat)
    var txt = '../txthistorias/' + dat + '.txt'
    console.log(txt)

    var txtFile = new XMLHttpRequest();
    txtFile.open("GET", txt, true);
    txtFile.onreadystatechange = function () {
        if (txtFile.readyState === 4) {
            if (txtFile.status === 200) {
                document.getElementById("historiaTxt").innerHTML = txtFile.onreadystatechange;
            }
        }
    }
    txtFile.send(null)
</script>