<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/favicon.jpg"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Undertale</title>
</head>

<body>
    <section>
        <header>
            <img class="container-fluid" src="../img/undertale.png" alt="undertale">
        </header>

        <nav class="container-fluid" style="background: #fff">
            <div class="container d-flex justify-content-center fw-bold">
                <div class="row">
                    <div class="col">
                        <a class="nav-link justify-content-center text-dark fs-4" href="historias.html">
                            <span class="fa fa-arrow-circle-left"></span>
                            Historia</a>
                    </div>
                </div>
            </div>
        </nav>

        <main>
            <div class="container p-5">
                <img class="mx-auto w-25 d-block py-3" src="../img/Personagens/W.D_Gaster.png" alt="logo">
                <div class="p-4 text-center fw-bold fs-2 text-white">W.D Gaster</div>
                <div class="py-5 px-3 text-white fs-3">
                    <p>
                        Não é muito revelado sobre a vida, tão pouco pela personalidade de Gaster. Toda via, de
                        acordo
                        com seus seguidores, o cientista estaria realizando experimentos, supostamente com
                        antimatéria
                        (a julgar pela citação dos fótons em sua nota), além de estar relacionado com a criação de
                        uma
                        máquina de absorção de determinação encontrada no laboratório verdadeiro. De acordo com seus
                        seguidores, Gaster caiu em sua criação, pois seus experimentos deram errado, e enfim acabou
                        preso no espaço-tempo. Ainda, é possível deduzir que, ao cair em sua criação, o cientista
                        apagou
                        a linha do tempo existente, criando uma em que ele jamais existiu (atual), e ficando preso
                        na
                        anterior. Entretanto, aparentemente de alguma forma ele parece ter as habilidades de poder
                        interagir com a linha do tempo em que ele não existe, se comunicar com ela através de seus
                        seguidores e até mesmo se materializar nestes por alguns momentos.

                        Um fato misterioso é que nenhum outro personagem apresenta provas concretas sobre estar
                        existente da existência de Gaster . Apenas Sans aparentemente dá um sentido que o conhece.

                        Pra explicar isso, existem teorias dizendo que Gaster é pai de Sans e Papyrus. Essa teoria
                        pode
                        ser verdade, considerando que Sans, Papyrus e W. D. Gaster são fontes (Comic Sans MT,
                        Papyrus e
                        WingDing). </p>
                </div>
            </div>
        </main>

        <footer class="text-center p-2" style="background: #fff">
            <a href="https://store.steampowered.com/app/391540/Undertale/?l=portuguese"><img class="rounded"
                    src="../img/iconSteam.jpg" alt="steam"></a>
        </footer>
    </section>
</body>

</html>