<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/favicon.jpg"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Undertale</title>
</head>

<body>
    <section>
        <header>
            <img class="container-fluid" src="../img/undertale.png" alt="undertale">
        </header>

        <nav class="container-fluid" style="background: #fff">
            <div class="container d-flex justify-content-center fw-bold">
                <div class="row">
                    <div class="col">
                        <a class="nav-link justify-content-center text-dark fs-4" href="rotas.html">
                            <span class="fa fa-arrow-circle-left"></span>
                            Rotas</a>
                    </div>
                </div>
            </div>
        </nav>

        <main>
            <div class="container p-5">
                <div class="p-4 text-center fw-bold fs-2 text-white">Rota Genocida</div>
                <div class="py-5 px-3 text-white fs-3">
                    <p>

                        A Rota Genocida ocorre quando o protagonista mata cada inimigo de cada região: Ruínas, Snowdin,
                        Cachoeira e Hotland. O Núcleo (CORE) é uma sub-região de Hotland.

                        Começando pelas Ruínas, o protagonista intencionalmente ativa encontros com monstros e os mata
                        até encontros com monstros não ocorrerem mais; de uma maneira similar ao sistema de upar nos
                        jogos de RPG. Depois de matar todos os monstros da área, os encontros ainda ocorrerão, mas os
                        monstros não aparecerão. Em uma fonte menor do que o comum, a caixa de texto diz "But nobody
                        came". (Mas ninguém veio.)


                        O texto que aparece quando o protagonista esgota o contador de mortos

                        Depois do protagonista ver a mensagem, a música da área muda para uma versão distorcida de
                        música de fundo. Esta música é uma versão de velocidade .08x de "Your Best Friend". Depois de
                        sair das Ruínas, todas as músicas do Overworld são músicas com tons graves e mais lentas das
                        suas contrapartes das rotas Neutra e Pacifista.

                        Se o protagonista para de cumprir os requisitos para uma Rota Genocida a qualquer momento, ela
                        irá se reverter para uma Rota Neutra sem a trilha sonora alterada. NPCs ainda aparecem na região
                        onde o protagonista abandonou a Rota.

                        Requirimentos

                        O primeiro SAVE Point em Snowdin mostra o contador de mortos pela primeira vez

                        Esgotar o contador de mortos aleatório em cada região. Este requerimento deve ser feito antes de
                        aproximar-se do encontro final de cada área.
                        O protagonista pode perdoar qualquer número de encontros aleatórios (Snowdrake é uma exceção,
                        como pode-se ver abaixo). Perdoar alguns monstros permite ao protagonista evitar lutar contra
                        certos monstros como Jerry. O protagonista pode perdoar certos monstros para que ele mate outros
                        que oferecem mais EXP e OURO, como Glyde.
                        O que vem a seguir é uma lista do número de encontros aleatórios que o protagonista precisa
                        matar como mostrado no texto vermelho dos SAVE Points, seguidos pelo boss final de cada área.
                        Ruínas: 20 mortes (Toriel)
                        Snowdin: 16 mortes (Papyrus)
                        Waterfall: 18 mortes (Undyne the Undying)
                        Hotland: 40 mortes (Mettaton NEO)
                        New Home: Nenhuma morte (Sans). O protagonista automaticamente mata Asgore e Flowey quando os
                        encontra.
                        Snowdrake é o único que deve ser assassinado antes do contador de mortos esgotar, e também faz
                        parte do contador.
                        Até o protagonista atingir o requerimento de mortes, SAVE Points irão mostrar a mensagem
                        "Determination.".
                        Matar todo boss e miniboss (Bosses secretos como Glyde e So Sorry não são obrigatórios). Todos
                        os mini-bosses (exceto Snowdrake e incluindo Shyren) podem ser encontrados antes do contador de
                        mortes esgotar, o que pode ser usado para obter EXP extra.
                        Os contadores de mortes para cada área tem requisitos diferentes. Se alguns eventos são ativados
                        antes de matar todos os monstros da área, o protagonista será automaticamente mandado para uma
                        Rota Neutra. Por exemplo, se a batalha de Papyrus é ativada antes de esgotar o contador de
                        mortos de Snowdin, a cutscene irá proceder como se estivesse na Rota Neutra. Mesmo se o
                        protagonista for capturado e matar os monstros restantes, lutar contra Papyrus ainda procederá
                        como uma Rota Neutra.

                        Existe um glitch quando o protagonista luta contra Toriel. Se ainda há um encontro possível nas
                        Ruínas, a batalha irá prosseguir normal como na Rota Neutra; porém, se Toriel é morta, o
                        protagonista irá continuar a Rota Genocida.
                    </p>
                </div>
            </div>
        </main>

        <footer class="text-center p-2" style="background: #fff">
            <a href="https://store.steampowered.com/app/391540/Undertale/?l=portuguese"><img class="rounded"
                    src="../img/iconSteam.jpg" alt="steam"></a>
        </footer>
    </section>
</body>

</html>