<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Undertale</title>
</head>

<body>
    <section>
        <header>
            <img class="container-fluid" src="../img/undertale.png" alt="undertale">
        </header>

        <nav class="container-fluid" style="background: #fff">
            <div class="container d-flex justify-content-center fw-bold">
                <div class="row">
                    <div class="col">
                        <a class="nav-link justify-content-center text-dark fs-4" href="rotas.html">
                            <span class="fa fa-arrow-circle-left"></span>
                            Rotas</a>
                    </div>
                </div>
            </div>
        </nav>

        <main>
            <div class="container p-5">
                <div class="p-4 text-center fw-bold fs-2 text-white">Rota Neutra</div>
                <div class="py-5 px-3 text-white fs-3">
                    <p>
                        A Rota Neutra ou Rota Normal não é muito diferente da Rota Pacifista, tanto que quando o
                        protagonista faz a Pacifista e mata qualquer monstro a rota automaticamente vira a Neutra.

                        As mudanças são que após a luta com Asgore você escolhe matá-lo ou poupá-lo. Logo após isso,
                        Flowey
                        aparece e rouba as almas humanas e vira Ômega Flowey ou Photoshop Flowey. Após matar sua versão
                        mais
                        forte, você tem a opção de matar ou poupar a flor. Caso decida matá-la, ela voltará caso inicie
                        um
                        novo jogo. Se decidir poupá-la, terá de fazê-lo várias vezes, pois o inimigo não compreende seu
                        perdão e pede para ser destruído, chegando a ficar nervoso por não ser morto e supostamente
                        consegue
                        sentir a emoção da tristeza/frustração por concluir que não entende o motivo por ser perdoado e
                        foge. Logo após, o jogador deve passar pela barreira e Frisk esquece os monstros no Subsolo.

                        No final, Sans acaba fazendo uma ligação para o jogador relatando os acontecimentos depois de
                        sua
                        saída do subsolo, e após conversar com vários amigos (caso não tenha os matado), a ligação se
                        encerra. Uma curiosidade é que Toriel não conversa com o jogador nessa ligação, seja por estar
                        morta, seja por mesmo viva, não saber que é o jogador que está na linha. O próprio Sans afirma
                        que
                        caso a amiga soubesse com quem estavam falando, esta ficaria no telefone por, no mínimo, algumas
                        horas.

                        Sempre que um personagem é morto, a ligação é diferente, assim como o julgamento de Sans.

                        A Rota Neutra tem vários finais baseados em quem será o Rei (mas não há um final onde Sans vire
                        Rei):
                    </p>

                    <table class="fs-5">
                        <tr>
                            <th>Rei do Final</th>
                            <th>Mortes Necessárias</th>
                        </tr>
                        <tr>
                            <th>Toriel</th>
                            <th>Asgore</th>
                        </tr>

                        <tr>
                            <th>Papyrus</th>
                            <th>Toriel e Asgore</th>
                        </tr>
                        <tr>
                            <th>Undyne</th>
                            <th>Toriel, Papyrus e Asgore</th>
                        </tr>
                        <tr>
                            <th>Mettaton</th>
                            <th>Toriel, Papyrus, Undyne e Asgore</th>
                        </tr>
                        <tr>
                            <th>Cão Irritante</th>
                            <th>Toriel, Papyrus, Undyne, Mettaton e Asgore</th>
                        </tr>
                    </table>
                    <br>
                    <p>
                        Nos Finais Neutros, cada personagem morto ou vivo altera o final, assim gerando várias
                        possibilidades.

                        Mas, existe um final que Alphys supostamente vira uma Rainha.

                        Para consegui-lo, cumpra todos os requisitos da Rota Genocida só que, no Core deixe 2 monstros
                        faltando, Mettaton ainda irá se transformar em Mettaton EX, mas quando é derrotado ele diz:

                        "Você não é uma pessoa totalmente MALIGNA. Ou se tentou ser, Você FALHOU."

                        Então você vai pra Rota Neutra, derrote Asgore Dreemurr e Omega Flowey, e quando Sans te ligar
                        no
                        final, ele irá dizer:

                        "Finalmente, acertei o número."

                        E então passará para Alphys, ela diz :

                        "Então foi você que Matou todos os meus Amigos. Eu queria te dizer: EU TE ODEIO. Quando te vi
                        ferindo as pessoas, Só fiquei assistindo. Mas quando Undyne me ligou com aquela voz... Notei do
                        que
                        deveria ser feito, mesmo se todos soubessem do meu segredo. Mesmo com isso, todos me chamam de
                        heroína e disseram que eu devia cuidar de tudo. Sabe eu tenho boas Politicas, mas... Não sou
                        nenhum
                        Asgore... DEVIA TER MATADO VOCÊ QUANDO TIVE CHANCE!"


                        Flowey nervoso após o jogador ter desperdiçado a chance de cumprir o modo genocida

                        Flowey irá aparecer e dizer que você chegou tão perto de descobrir a verdade e te pergunta por
                        que
                        você "$#%!@* com tudo", até que ele fala:

                        "Já sei. Você só veio aqui pra saber o que aconteceria e depois você continuará o caminho. (Nome
                        do
                        Personagem) você é GENIAL, te vejo daqui a pouco. "
                    </p>
                </div>
                <img class="mx-auto w-25 d-block" src="../img/personagens/Flowey.png" alt="logo">
            </div>
        </main>

        <footer class="text-center p-2" style="background: #fff">
            <a href="https://store.steampowered.com/app/391540/Undertale/?l=portuguese"><img class="rounded"
                    src="../img/iconSteam.jpg" alt="steam"></a>
        </footer>
    </section>
</body>

</html>