<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Undertale</title>
</head>

<body>
    <section>
        <header>
            <img class="divTitle" src="../img/undertale.png" alt="undertale">
        </header>

        <nav class="nav justify-content-center">
            <div class="nav-item">
                <a class="nav-link" href="rotas.html">
                    <h2>Rotas</h2>
                </a>
            </div>
        </nav>

        <main>
            <div>
                <h4>
                    <p>
                        A Verdadeira Rota Pacifista é um dos 3 finais principais de Undertale. Este final pode ser
                        considerado o "final verdadeiro" para Undertale, levando a uma conclusão feliz e os créditos
                        completos.
                        Depois de completar a Rota Neutra, o protagonista irá receber uma chamada depois dos créditos
                        que irá fornecer o próximo requerimento para conseguir o Final Pacifista. Se Flowey for
                        perdoado, ele irá aparecer mais tarde e elaborar a dica, mas se ele for morto, o protagonista
                        retorna imediatamente para a tela de título. O protagonista pode recarregar seu SAVE File para
                        completar qualquer requerimento que esteja faltando contanto que não tenham ganhado nenhum
                        EXP/LOVE; senão, é necessário resetar o jogo. Note que matar Asgore ou Flowey não dá nenhum EXP,
                        e o protagonista não pode SALVAR depois de lutar contra eles, apesar de tudo.

                        Abaixo, se encontra a lista de requerimentos:
                    </p>

                    <table>
                        <tr>
                            <th>
                                Durante o jogo, nunca mate nenhum inimigo ou ganhe EXP/LOVE; essencialmente use apenas
                                saídas não-letais (perdoar, fugir ou ACTs que terminam batalhas). LUTAR contra monstros
                                ou matar o Dummy nas Ruínas não abortam essa rota, assim como não dão EXP. Se alguém
                                matar acidentalmente um monstro, ele pode simplesmente recarregar o seu SAVE.
                            </th>
                        </tr>

                        <tr>
                            <th>
                                Depois de lutar contra Papyrus, visite a casa dele e conclua o encontro com ele.
                            </th>
                        </tr>

                        <tr>
                            <th>
                                Depois de Undyne desmaiar perseguindo o protagonista, pegue um copo de água do bebedouro
                                mais próximo e derrame nela.
                            </th>
                        </tr>

                        <tr>
                            <th>
                                Retorne para Waterfall e vá para a casa da Undyne. Papyrus estará esperando do lado de
                                fora. Fale com ele para entrar na casa e complete a "aula de culinária" e a batalha
                                falsa com Undyne.
                            </th>
                        </tr>

                        <tr>
                            <th>
                                Vá sobre Hotland e o CORE. Faça a audiência de Mettaton EX subirem para 10.000 (isso
                                inclui usar o upgrade do telefone da Alphys para atirar na Alma dele em alguns turnos)
                                para acabar com a batalha pacificamente.
                            </th>
                        </tr>

                        <tr>
                            <th>
                                Se a Rota Neutra não foi cumprida anteriormente, ela precisa ser completada primeiro. A
                                série de eventos a seguir podem ser ativados de duas maneiras, contanto que nenhum
                                EXP/LV tenha sido ganho: começar o jogo normalmente do começo depois de completar uma
                                Rota Neutra, ou carregar o último save de uma Rota Neutra.
                            </th>
                        </tr>

                        <tr>
                            <th>
                                Volte para fora do CORE em direção ao MTT Resort, para a ponte que liga os dois lugares.
                                Lá, Undyne chama o protagonista, pedindo para entregar uma carta para ela.
                            </th>
                        </tr>

                        <tr>
                            <th>
                                Fale com Undyne fora da casa de Papyrus para receber a Carta de Undyne.
                            </th>
                        </tr>

                        <tr>
                            <th>
                                Coloque a carta sob a porta do Alphys's Lab e complete o "encontro" com ela.
                            </th>
                        </tr>

                        <tr>
                            <th>
                                Ao sair do depósito de lixo (onde acaba a amizade com Alphys), Papyrus liga para a
                                protagonista para encontrar Alphys em seu laboratório. Volte ao Laboratório da Alphys
                                para encontrar uma nota que leve ao seu "banheiro" contendo o True Lab. Ao entrar no
                                True Lab, a Rota Pacifista Verdadeira não pode ser abortada.
                            </th>
                        </tr>

                        <tr>
                            <th>
                                Encontre as quatro chaves espalhadas pelo True Lab e coloque-as em seus slots
                                apropriados para abrir a sala do gerador. Ligue o gerador para iniciar uma conversa com
                                a Alphys. Volte para o elevador perto da sala do gerador para ser deformado para New
                                Home, com a saída bloqueada por vinhas. Isso sinaliza que o verdadeiro final pacifista
                                ocorrerá. É impossível deixar New Home depois desse ponto.
                            </th>
                        </tr>
                    </table>

                    <p>
                        Completando Amizades
                        Se Papyrus não tiver sido ajudado, volte para sua casa em Snowdin, onde ele está do lado de
                        fora. Interaja com ele para iniciar o encontro.
                        Se Undyne não tiver sido ajudada, volte para sua casa em Waterfall, onde Papyrus está do lado de
                        fora. Interaja com o Papyrus para iniciar o encontro.
                        Amizade com Alphys
                        Na entrada do CORE, Undyne chama o protagonista (a mando de Papyrus) para pedir que entreguem
                        sua carta a Alphys.

                        Se Undyne for ajudada em uma Rota Pacifista-Neutra, ela irá dar ao protagonista a carta
                        imediatamente depois de fazer amizade com ela. Ela diz que Papyrus sugeriu dar ao protagonista a
                        carta anterior, mas que Undyne ainda os odiava na época.

                        Depois de entregar a carta para Alphys, ela confunde a carta como sendo do próprio protagonista
                        e vai a um encontro com eles.

                        Durante o encontro de Alphys, os dois vão para o Depósito de Lixo. Eles se deparam com Undyne,
                        que decidiu entregar a carta ela mesma. Alphys diz Undyne algumas verdades sobre seu trabalho
                        "científico", que era apenas para ela preguiçar, assistindo anime e lendo mangá. Undyne expressa
                        seu apoio a Alphys, enviando-a para treinar com Papyrus. Ela então confronta o protagonista
                        sobre anime, perguntando se é real. Independentemente da resposta do protagonista, Undyne
                        agradece a eles e o evento termina.

                        Após a data, Papyrus chama o protagonista e, muito especificamente, instrui-os a ir ao
                        laboratório de Alphys, citando nenhuma outra razão além de um "bom pressentimento" que ele diz
                        ter sobre isso (Isso pode ser porque Flowey disse a ele para contar ao protagonista, mas não
                        queria que o protagonista soubesse).

                        No Laboratório Verdadeiro
                        Ao chegar ao laboratório, a protagonista encontra uma nota da Alphys, na qual ela declara que
                        vai "enfrentar seus próprios erros". A nota diz ao leitor para entrar no que antes era
                        considerado o banheiro de Alphys para descobrir a verdade, caso Alphys não retornasse.

                        O protagonista entra na porta, que na verdade leva-o a um elevador. Ele pega o elevador até o
                        True Lab, mas ele perde energia e avarias, deixando-o preso no laboratório. Explorando o
                        laboratório, ele encontra experimentos de muito tempo atrás, detalhando os experimentos de
                        Alphys com Almas e Determinação para restaurar monstros da morte. Injetando determinação nos
                        monstros mortos os restauraram com sucesso, mas eles acabaram por se fundir e se transformaram
                        em Amalgamates - fusões liquidificadas de vários monstros. Vários desses amalgamates atacam o
                        protagonista, mas o protagonista os poupa. O protagonista vê o extrator de determinação,
                        lembrando parte da forma de Flowey durante sua batalha de chefe na Rota Neutra, e eles descobrem
                        que Alphys fez alguns experimentos com flores douradas, que produziram um único espécime vivo
                        que escapou.

                        O protagonista liga o aparelho, restaurando a energia dos elevadores. Alguns Amalgamates
                        aparecem, mas Alphys salva o protagonista deles, explicando que eles eram agressivos porque
                        estavam com fome. Ela explica ainda que os corpos dos monstros não conseguiram lidar com a
                        determinação e, assim, se fundiram. Alphys agradece ao protagonista por seu apoio e declara aos
                        Amalgamates que eles brevemente retornarão para casa.

                        Alphys deixa o verdadeiro laboratório e o protagonista retorna a um dos elevadores. Eles recebem
                        uma ligação de alguém que não reconhecem. A voz, implícita para ser Asriel (Flowey imitando sua
                        voz), chama o protagonista pelo nome dado ao Humano Caído no início do jogo, e diz a eles que
                        "tudo se encaixou" e que eles "verão você em breve.'

                        O elevador parece não funcionar e aterrissa o protagonista na entrada do New Home. Estranhas
                        videiras bloqueiam o elevador.

                        A Barreira
                        Na barreira, o protagonista confronta o rei Asgore. Enquanto se preparam para lutar, Toriel
                        chega, incapacita Asgore e consola o protagonista. Depois de repreender Asgore por suas ações,
                        chegando ao ponto de lhe dar uma maneira mais simples de recuperar as Almas humanas, ela é logo
                        seguida por Sans, Papyrus, Undyne e Alphys, que começam a conversar. Para surpresa de Alphys,
                        Papyrus revela que uma 'pequena flor' o ajudou a chamar todo mundo para a Sala do Trono.

                        Flowey aparece repentinamente prende os 6 monstros em vinhas. Ele então agradece ao protagonista
                        por trazê-los todos para um ponto, dizendo que ele absorveu as almas dos humanos enquanto os
                        amigos do protagonista estavam conversando, afirmando que ele iria absorver todos eles também
                        para alcançar sua "verdadeira forma". Ele então revela seu verdadeiro motivo para causar ao
                        protagonista tantos problemas - mantê-los jogando o 'jogo' para que eles possam 'brincar' com
                        ele para sempre. Ele dá ao protagonista a chance de enfrentá-lo, prometendo devolver as almas de
                        todos e quebrar a barreira se vencerem. Como se para negá-los até mesmo isso, ele planeja
                        mantê-los presos antes de atacá-los impiedosamente, dizendo que ele está disposto a "matá-los
                        1.000.000 vezes" para provar seu ponto. Antes de dar o golpe final, os amigos do protagonista
                        protegem-nos contra os ataques de Flowey enquanto os curam e os encorajam a vencer. Logo depois,
                        muitos dos monstros que o protagonista poupou durante o jogo chegam, curando o protagonista e
                        aparentemente colocando Flowey desprevenido. No entanto, ele de repente ri deles por sua
                        'estupidez' e absorve todas as almas dos monstros que ali estavam, fazendo um grande flash de
                        luz se expandir pelo local.

                        O flash de luz some, e o protagonista vê que Flowey é agora um jovem monstro em uma camisa
                        listrada, semelhante em aparência a Toriel e Asgore. Ele chama o protagonista pelo nome do
                        Humano Caído, depois se transforma em um monstro mais velho e mais poderoso, apresentando-se
                        como "Asriel Dreemurr".

                        Asriel inicia uma batalha com o protagonista e começa a atacar o mesmo, seus ataques são
                        extremamente fortes e difíceis de desviar.

                        Se o HP do protagonista chegar a 0 e sua Alma quebrar, em vez de reiniciar o jogo, a mensagem
                        "Mas se recusou" aparece e a Alma se auto-reforma por pura determinação e recupera totalmente
                        seu HP. Depois disso, a Alma simplesmente retorna à batalha.
                        Após uma certa quantidade de turnos, Asriel ataca com um ataque chamado "Hyper Goner", que se
                        assemelha a um crânio de cabra (semelhante ao DT Extractor no True Lab), sugando diversos
                        projéteis (e a alma do protagonista) até que a tela se torne totalmente branca por um enorme
                        flash de luz. O HP do protagonista é deixado em 1 após este ataque, se ele for atingido.
                        Surpreso com a alta determinação do protagonista, Asriel revela que ele estava usando apenas uma
                        fração de seu poder real.

                        Asriel então se transforma em uma forma mais poderosa de si mesmo, ameaçando redefinir
                        totalmente a linha do tempo do mundo, restringindo o protagonista e impedindo-os de fazer
                        qualquer coisa, exceto "se mexer". O protagonista percebe que enquanto eles não podem salvar seu
                        jogo, eles podem salvar as Almas dos monstros, transformando a opção ACT na opção SAVE. Eles
                        alcançam as Almas dos seus amigos (que estão presos na Alma de Asriel) e os trazem de volta,
                        restaurando suas memórias. Depois de salvar todos os seus amigos, o protagonista começa a tentar
                        salvar o próprio Asriel e começa a ver memórias dele fazendo amizade com o primeiro humano. As
                        almas dos amigos do protagonista ressoam dentro de Asriel; Ele começa a chorar e seus ataques de
                        fogo começam a evitar a alma do protagonista. Ele então implora ao protagonista (referindo-se a
                        eles como o nome do Humano Caído) para deixá-lo vencer e atacá-los com seu ataque mais forte.

                        O protagonista sobrevive com o HP reduzido a um bilionésimo de um ponto, e então salva Asriel,
                        devolvendo-o à sua forma criança. Asriel pede desculpas ao protagonista. Ele diz a eles que o
                        primeiro ser humano se foi há muito tempo e pede-lhes seu nome verdadeiro, que é revelado como
                        Frisk. Asriel diz a Frisk que as Almas dos monstros permitiram que ele sentisse suas emoções e
                        desejos - seu amor por Frisk e seu desejo de liberdade, respectivamente. Ele espera que Frisk
                        não o perdoe por tudo o que aconteceu, mas eles podem escolher de qualquer maneira,
                        surpreendendo Asriel. Usando as almas dos seis humanos e as Almas de todos os monstros junto com
                        sua determinação, Asriel destrói a barreira.

                        Asriel retorna as almas e diz a Frisk que, sem as almas de todos, ele eventualmente retornará a
                        ser uma flor. Ele pede que eles o esqueçam e vão embora, mas Frisk tem a opção de consolar
                        Asriel, fazendo Frisk se aproximar e abraçá-lo.

                        Epílogo
                        Frisk acorda no quarto atrás da Sala do Trono, para o alívio de seus amigos, que todos conhecem
                        o nome de Frisk, mas não se lembram muito do que aconteceu. Toriel incentiva Frisk a fazer o que
                        quiserem, seja em direção à Superfície ou em uma caminhada no subsolo para ver o resto de seus
                        amigos. Os monstros informam a Frisk que eles seguirão Frisk até a superfície quando estiverem
                        prontos.

                        Frisk pode ir através do Underground e conversar com NPCs, incluindo os vários monstros
                        encontrados apenas durante os encontros de batalha. Eles expressam seus sentimentos, muitas
                        vezes sobre ser livre finalmente. Na área inicial com as flores douradas, Asriel pode ser
                        encontrado cuidando das flores e pode ser falado.

                        O Fim
                        Deixar o Subsolo e ir para a superfície termina o jogo.


                        A tela do menu no final da Rota Pacifista Verdadeira, apresentando todos os personagens amigos
                        do protagonista. Menos Muffet

                        Frisk e seus amigos assistem ao pôr-do-sol na superfície. Pensando no futuro, Asgore pergunta a
                        Frisk se eles agiriam como o embaixador dos monstros para os humanos.

                        Papyrus causa uma boa primeira impressão nos humanos, tendo se declarado o mascote ou embaixador
                        dependendo da decisão de Frisk. Sans se retira para o Underground (presumivelmente por meio de
                        um teletransporte) para garantir que ele não tenha que checar Papyrus, enquanto Undyne, Alphys e
                        Asgore partem para ajudar Papyrus.

                        Com todo mundo fora, Toriel pergunta a Frisk o que eles farão agora. O protagonista pode optar
                        por ficar com Toriel ou não, e sua decisão afeta a cena pós-créditos.

                        Depois de Toriel e Frisk deixarem a tela, o créditos do final pacifista começam. Os nomes de
                        todos os monstros encontrados no jogo (exceto Jerry, Chilldrake, e os chefes secretos So Sorry e
                        Glyde) rolam para baixo em uma lista ordenada por área de encontro, intercaladas com animações
                        de personagens principais mais desenvolvidas. Depois disso, um final introduzido por Asriel é
                        iniciado. Esta seção inclui os nomes dos apoiadores do Kickstarter e, se todos os nomes forem
                        esquivados, a Porta Misteriosa será desbloqueada.

                        Após os créditos, se Frisk estiver hospedado com Toriel, outra cena será exibida, mostrando-os
                        em sua nova casa na superfície. Se Frisk se separou dos monstros, uma foto de Frisk e seus
                        monstros amigos é mostrada. O Annoying Dog aparece depois de algum tempo na tela final. O
                        jogador não pode fazer nada exceto sair.

                        Rota Pós-Genocídio
                        Depois que o protagonista completa uma rota genocídio e restaura o mundo depois de apagá-lo,
                        várias coisas são significativamente alteradas.

                        Se o protagonista escolheu "Eu tenho lugares para ir" quando Toriel pede, a imagem nos créditos
                        mostra todos os rostos dos personagens riscados, e o protagonista é substituído pelo sprite do
                        primeiro humano no caso Chara.
                        Se o protagonista escolher "Quero ficar com você", depois que Toriel deixar a torta no quarto,
                        dentro de quatro segundos, Frisk se deitaria na cama para encarar a tela, apenas para revelar o
                        rosto de Chara com olhos vermelhos. Uma versão baixa da risada de Flowey toca, e a tela corta
                        para preto.Characaminha.png
                        O Annoying Dog não parece dormir sob o fim após os créditos.
                        O texto "THE END" é exibido em vermelho em vez de branco.
                        "Antecipation" é reproduzida a uma velocidade extremamente reduzida na tela final (mais lenta
                        que as vezes em que é jogada na Própria Rota Genocídio), onde Memory normalmente tocaria na
                        velocidade normal.
                        Curiosidades
                        É somente na Rota Pacifista Verdadeira que o jogador aprende o nome do protagonista, Frisk.
                        Nomeando o humano caído "Frisk" no começo do jogo ativa o Modo Difícil.
                        Se um Verdadeiro Final Pacifista tiver sido completado antes, Sans's Workshop conterá uma foto
                        do "protagonista" em pé com Sans e todos os seus amigos. Esta é provavelmente a imagem mostrada
                        no final, se o protagonista optar por não ficar com Toriel.
                        Houve um glitch na qual o protagonista poderia lutar e matar inimigos no CORE antes de receber a
                        carta de Undyne. Esta falha permitiu que o protagonista alcançasse este final mesmo depois de
                        ganhar EXP e LOVE. Isso foi corrigido na versão 1.001.
                        Se a barra de espaço fosse pressionada quando Alphys e Undyne estivessem próximos um do outro, a
                        animação de seus beijos começaria bem cedo. Isso foi corrigido na versão 1.001.
                        Se o protagonista escolhe ficar com Toriel, o quarto em que eles são vistos dormindo tem fortes
                        semelhanças com o quarto de Ness em EarthBound; a cama é mantida à direita, a porta à esquerda,
                        e uma janela, abajur e cômoda, em algum lugar, mantidos no fundo da sala.
                    </p>
                </h4>

            </div>
        </main>

        <footer>
            <a href="https://store.steampowered.com/app/391540/Undertale/?l=portuguese"><img src="../img/iconSteam.jpg"
                    alt="steam"></a>
        </footer>
    </section>
</body>

</html>