<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Undertale</title>
</head>

<body>
    <section>
        <header>
            <img class="divTitle" src="../img/undertale.png" alt="undertale">
        </header>

        <nav class="nav justify-content-center">
            <div class="nav-item">
                <a class="nav-link" href="universosalternativos.html">
                    <h2>Universos Alternativos</h2>
                </a>
            </div>
        </nav>

        <main>
            <div>
                <h1>UNDERFELL</h1>
                <h4>
                    <p> Underfell se passa em uma realidade onde todos os monstros possuem um temperamento totalmente
                        contrário ao que apresentam no jogo original.

                        Ao cair no subsolo, Frisk (único personagem que não apresenta mudanças) encontra Flowey.
                        Todavia, não é atacado, mas alertado pela flor dos perigos que ali existem, e sobre Toriel, que
                        no jogo é uma devoradora insaciável de humanos.

                        Flowey assume o "papel de Toriel", auxiliando o jogador a transpor as armadilhas que aparecem
                        até a chegada em um local próximo a casa de Toriel. Entretanto, enquanto no jogo original Frisk
                        é deixado esperando pela monstra no corredor, neste o protagonista já possui a liberdade de
                        explorar o local ao redor.

                        Ao passar por alguns corredores, é possível encontrar o primeiro inimigo de destaque:
                        Napstablook, que possui as cores invertidas, mas com o contorno vermelho. Caso o jogador tome a
                        decisão de seguir pelo modo pacifista, é preciso animá-lo, como no jogo original, para que ele
                        permita sua passagem. Um ponto de destaque é que nessa versão, o ataque especial do fantasma é a
                        "Faca Fantasma", ao invés do "Chapéu Fantasma" do jogo original, apresentado ao jogador. </p>
                </h4>
            </div>
        </main>

        <footer>
            <a href="https://store.steampowered.com/app/391540/Undertale/?l=portuguese"></a><img
                src="../img/iconSteam.jpg" alt="steam"></a>
        </footer>
    </section>
</body>

</html>