<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Undertale</title>
</head>

<body>
    <section>
        <header>
            <img class="divTitle" src="../img/undertale.png" alt="undertale">
        </header>

        <nav class="nav justify-content-center">
            <div class="nav-item">
                <a class="nav-link" href="../index.html">
                    <h2>Home</h2>
                </a>
            </div>
        </nav>

        <main>
            <div>
                <a class="nav-link" href="underfell.html">
                    <img class="divimgHistoria" src="../img/underfell.jpg" alt="logo">
                    <h4>
                        UNDERFELL
                    </h4>
                </a>

                <a class="nav-link" href="flowerfell.html">
                    <img class="divimgHistoria" src="../img/flowefell.jpg" alt="logo">
                    <h4>
                        FLOWERFELL
                    </h4>
                </a>
            </div>
        </main>

        <footer>
            <a href="https://store.steampowered.com/app/391540/Undertale/?l=portuguese"><img src="img/iconSteam.jpg"
                    alt="steam"></a>
        </footer>
    </section>
</body>

</html>